﻿@using System.Web.UI.WebControls
@using AspNetDemo.Models
﻿@using AspNetDemo.Models
@model AspNetDemo.Models.Service

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>eBusiness Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="../../Content/HomeAssets/img/favicon.png" rel="icon">
    <link href="../../Content/HomeAssets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
          rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="../../Content/HomeAssets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="../../Content/HomeAssets/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
    <link href="../../Content/HomeAssets/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="../../Content/HomeAssets/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
    <link href="../../Content/HomeAssets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../Content/HomeAssets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../Content/HomeAssets/lib/venobox/venobox.css" rel="stylesheet">
    <!-- Nivo Slider Theme -->
    <link href="../../Content/HomeAssets/css/nivo-slider-theme.css" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link href="../../Content/HomeAssets/css/style.css" rel="stylesheet">
    <!-- Responsive Stylesheet File -->
    <link href="../../Content/HomeAssets/css/responsive.css" rel="stylesheet">
    <!-- my style -->
    <link href="../../Content/HomeAssets/css/myStyle.css" rel="stylesheet">
    <!-- datetime piker -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body data-spy="scroll" data-target="#navbar-example">
    <div id="preloader"></div>
    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Navigation -->
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                                    <h1><span>e</span>Business</h1>
                                    <!-- Uncomment below if you prefer to use an image logo -->
                                    <!-- <img src="img/logo.png" alt="" title=""> -->
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active">
                                        <a class="page-scroll" href="#home">Home</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#about">About</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#services">Services</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#team">Team</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#blog">Blog</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#contact">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- navbar-collapse -->
                        </nav>
                        <!-- END: Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
    </header>
    <!-- header end -->
    <!-- Start Bottom Header -->
    <div class="header-bg page-area">
        <div class="home-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center">
                        <div class="header-bottom">
                            <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                                <h1 class="title2">Blog Details </h1>
                            </div>
                            <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                                <h2 class="title3">profesional Blog Page</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Header -->
    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">
                <!-- Start single blog -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- single-blog start -->
                            <article class="blog-post-wrapper">
                                <div class="post-thumbnail">
                                    <img src="../../Content/HomeAssets/img/blog/6.jpg" alt="" />
                                </div>
                                <div class="post-information">
                                    <h2>@Html.DisplayFor(model => model.Name)</h2>
                                    <p>@Html.DisplayFor(model => model.Descrition)</p>
                                    <ul>
                                        <li>>Hello world</li>
                                        <li>Payment quick</li>
                                        <li>Convenient</li>
                                    </ul>
                                </div>
                            </article>
                            <div class="clear"></div>
                            <div class="single-post-comments">
                                <div class="comment-respond">
                                    <h3 class="comment-reply-title">Leave a Reply </h3>
                                    <span class="email-notes">
                                        Your email address will not be published. Required fields are marked
                                        *
                                    </span>
                                    <form action="#" name="serviceForm">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <p>Số lượng nhân viên</p>
                                                <input id="numberEmployee" name="NumberOfEmployee" value="5" type="number" />
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <p>Thời gian thuê</p>
                                                <input type="text" name="daterange" id="daterange" />
                                                <div id="date-error" class="text-danger alert alert-danger error">Bạn hãy chọn đúng ngày thuê hiện tại</div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <p>Tổng số tiền</p>
                                                @{
                                                    int total = 0;
                                                    total = (Int32.Parse(@Model.Price) * 5 * 5);
                                                }
                                                <p>@total</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                                            <p>Yêu cầu thêm</p>
                                            <textarea id="message-box" cols="30" rows="10"></textarea>
                                            @{
                                                Company comp = new Company();
                                                comp = (Company)Session["CompanyLogin"];
                                                if (comp != null)
                                                {
                                                    <a class="btn btn-default" id="payment">Add to Cart</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-default" href="@Url.Action("Index", "Login", new {area = "Customer"})">Login and Order</a>

                                                }
                                            }
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                        <!-- single-blog end -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="page-head-blog">
                        <div class="single-blog-page">
                            <!-- recent start -->
                            <div class="left-blog">
                                <h4>recent service</h4>
                                <div class="recent-post">
                                    <div class="recent-single-post">
                                        <div class="post-img">
                                            <a href="#">
                                                <img src="../../Content/HomeAssets/img/blog/2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="pst-content">
                                            <p><a href="#"> In Bound </a></p>
                                        </div>
                                    </div>
                                    <!-- End single post -->
                                    <!-- start single post -->
                                    <div class="recent-single-post">
                                        <div class="post-img">
                                            <a href="#">
                                                <img src="../../Content/HomeAssets/img/blog/3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="pst-content">
                                            <p><a href="#"> Out bound</a></p>
                                        </div>
                                    </div>
                                    <!-- End single post -->
                                    <!-- start single post -->
                                    <div class="recent-single-post">
                                        <div class="post-img">
                                            <a href="#">
                                                <img src="../../Content/HomeAssets/img/blog/4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="pst-content">
                                            <p><a href="#">Tele Marketing</a></p>
                                        </div>
                                    </div>
                                    <!-- End single post -->
                                </div>
                            </div>
                            <!-- recent end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End left sidebar -->
        </div>
    </div>
    <!-- End Blog Area -->
    <div class="clearfix"></div>
    <!-- Start Footer bottom Area -->
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <div class="footer-logo">
                                    <h2><span>e</span>Business</h2>
                                </div>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                                </p>
                                <div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-google"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-pinterest"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>information</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                                <div class="footer-contacts">
                                    <p><span>Tel:</span> +123 456 789</p>
                                    <p><span>Email:</span> contact@example.com</p>
                                    <p><span>Working Hours:</span> 9am-5pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>Instagram</h4>
                                <div class="flicker-img">
                                    <a href="#"><img src="../../Content/HomeAssets/img/portfolio/1.jpg" alt=""></a>
                                    <a href="#"><img src="../../Content/HomeAssets/img/portfolio/2.jpg" alt=""></a>
                                    <a href="#"><img src="../../Content/HomeAssets/img/portfolio/3.jpg" alt=""></a>
                                    <a href="#"><img src="../../Content/HomeAssets/img/portfolio/4.jpg" alt=""></a>
                                    <a href="#"><img src="../../Content/HomeAssets/img/portfolio/5.jpg" alt=""></a>
                                    <a href="#"><img src="../../Content/HomeAssets/img/portfolio/6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright text-center">
                            <p>
                                &copy; Copyright <strong>eBusiness</strong>. All Rights Reserved
                            </p>
                        </div>
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                            -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="../../Content/HomeAssets/lib/jquery/jquery.min.js"></script>
    <script src="../../Content/HomeAssets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Content/HomeAssets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../../Content/HomeAssets/lib/venobox/venobox.min.js"></script>
    <script src="../../Content/HomeAssets/lib/knob/jquery.knob.js"></script>
    <script src="../../Content/HomeAssets/lib/wow/wow.min.js"></script>
    <script src="../../Content/HomeAssets/lib/parallax/parallax.js"></script>
    <script src="../../Content/HomeAssets/lib/easing/easing.min.js"></script>
    <script src="../../Content/HomeAssets/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="../../Content/HomeAssets/lib/appear/jquery.appear.js"></script>
    <script src="../../Content/HomeAssets/lib/isotope/isotope.pkgd.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="../../Content/HomeAssets/contactform/contactform.js"></script>
    <!-- datetime picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- end datetime picker -->
    <script src="../../Content/HomeAssets/js/main.js"></script>
    <script src="../../Content/HomeAssets/js/script.js"></script>
    <script>
       var btn_payment = document.getElementById("payment");
        btn_payment.onclick = function() {
            var employee = document.getElementById("numberEmployee");
            var daterange = document.getElementById("daterange");
            var dates = daterange.value.split(" - ");
            var startDate = new Date(dates[0]).getTime();
            var endDate = new Date(dates[1]).getTime();
            var currentDate = new Date().getTime();
            if (currentDate > startDate) {
                daterange.style.border = "1px solid red";
               $("#date-error").show();
                return;
            }
            else {
                daterange.style.border = "1px solid #E5E5E5";
                $("#date-error").hide();
            }
            if (startDate === endDate) {
                var finalEndDate = new Date(endDate + 24 * 60 * 60 * 1000);
                daterange.value = dates[0] + ' - ' + (finalEndDate.getMonth() + 1) + '/' + finalEndDate.getDate() + '/' + finalEndDate.getFullYear();
                window.location.href = '/Customer/Cart/AddtoCart?id=' + @Model.Id + '&numberOfEmployee=' + $("#NumberOfEmployee").val() + '&date=' + daterange.value;
                }

            window.location.href = '/Customer/Cart/AddtoCart?id=' + @Model.Id + '&numberOfEmployee=' + employee.value + '&date=' + daterange.value;

        }
    </script>
</body>
</html>