@model List<OrderService>
@using AspNetDemo.Models
@using PagedList
@using PagedList.Mvc
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Company comp = new Company();
    comp = (Company)Session["CompanyLogin"];

}
<style>
    .profile-img{
        width: 200px;
        overflow: hidden
    }
    .profile-img img{
        width: 100%;
    }
</style>
<div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content text-center">
                    <div class="header-bottom">
                        <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                            <h1 class="title2">Excell On </h1>
                        </div>
                        <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                            <h2 class="title3">Nâng tầm giá trị</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="area-padding">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="profile-img mb-5">
                    @{
                        <img src="@comp.Logo" alt="" />
                    }
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="profile-head">
                    @{

                        if (comp != null)
                        {
                            <h3>@comp.Name</h3>
                            <h6>@comp.Email</h6>
                        }
                    }
                    <div class="tab-menu">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" style="border-bottom: 1px solid #dee2e6;" role="tablist">
                            <li class="active">
                                <a href="#p-view-1" role="tab" data-toggle="tab" aria-expanded="true">Thông tin tài khoản</a>
                            </li>
                            <li class="">
                                <a href="#p-view-2" role="tab" data-toggle="tab" aria-expanded="false">Lịch Sử Giao Dịch</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="p-view-1">
                        <div class="tab-inner">
                            <div class="event-content head-team">
                                <h4>Thông tin tài khoản</h4>
                                <p>
                                    @{
                                        if (comp != null)
                                        {
                                            <h2>@comp.Name</h2>
                                        }
                                    }
                                </p>
                                <div class="row mt-5">
                                    <div class="col-sm-3">
                                        <b>Email</b>
                                    </div>
                                    <div class="col-sm-9">
                                        @{
                                            @comp.Email
                                        }
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-sm-3">
                                        <b>Địa chỉ Email</b>
                                    </div>
                                    <div class="col-sm-9">
                                        @{
                                            @comp.Name
                                        }
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-sm-3">
                                        <b>Mô tả công ty</b>
                                    </div>
                                    <div class="col-sm-9">
                                        @{
                                            @comp.Description
                                        }
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-sm-3">
                                        <b>Số điện thoại</b>
                                    </div>
                                    <div class="col-sm-9">
                                        @{
                                            @comp.Phone
                                        }
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-sm-3">
                                        <b>Địa chỉ</b>
                                    </div>
                                    <div class="col-sm-9">
                                        @{
                                            @comp.Address
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="p-view-2">
                        <div class="tab-inner">
                            <div class="event-content head-team">
                                <h4>Lịch sử giao dịch</h4>
                                <table id="tech-companies-1" class="table  table-striped">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Email</th>
                                            <th>Tên dịch vụ</th>
                                            <th>Ngày tạo</th>
                                            <th>Ngày thanh toán</th>
                                            <th>Tổng Giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <th>@Html.DisplayFor(modelItem => item.Id)</th>
                                                <td>@Html.DisplayFor(modelItem => item.Company.Email)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Company.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                                <td>@Html.DisplayFor(modelItem => item.PaymentDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
